<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cj.tzw.alerter_uwb_m">

    <application
        android:name="cj.tzw.base_uwb_m.base.UwbApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AlerterSetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>